.input-group {
  width: 100%;
}

.label-text {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.search-bar {
  margin-bottom: 15px;
}

.panel .panel-heading {
  font-weight: bold;
  font-size: 25px;
}

input {
  text-align: center;
}

#submit-button {
  display: block;
  text-align: center;
  margin: auto;
  padding: 25px;
  font-size: 25px;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.save-button {
  float: right;
}
